
header {
    width: 1100px;
    height: 293px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    padding: 0 40px;
}

nav {
    grid-column: 1;
    grid-row: 1;
    margin-top: 133px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    letter-spacing: 0px; 
}

.menu_home {
    text-decoration: none;
}

.menu_lot a,
.menu_about a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    color: #000;
    transition: opacity 0.3s;
}

.menu_lot a:hover,
.menu_about a:hover {
    opacity: 0.6;
}

.menu_home::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_lot::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    grid-column: 2;
    grid-row: 1;
    margin-top: 90px;
    margin-left: 35px;
    position: relative;
    width: 148px;
    height: 105px;
}

.logo-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 101px;
}

.logo-top {
    position: absolute;
    top: 1px;
    left: 50px;
    transform: translateX(-50%);
    width: 130px;
    height: 104px;
}

address {
    grid-column: 3;
    grid-row: 1;
    margin-top: 92px;
    margin-left: 166px;
    text-align: left;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    white-space: nowrap;
}

/* Блок COVER */
.cover {
    position: relative;
    width: 1100px;
    min-height: 757px;
    margin: 0 auto 0;
    background: url('../images/cover.jpg') no-repeat 50% center / cover;    
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover_title {
      position: absolute;
    top: 165px;
    left: 50px;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aligned-text {
    font-size: 100px;
    line-height: 1;
    display: block;
}

.aligned-text_left {
     letter-spacing: 30px;
    position: relative;
    left: -5px;
    top: 5px;
    margin-top: 1px;
}

.aligned-text_center {
    position: absolute;
    top: 142px;
    left: 325px;
    letter-spacing: 30px;
}

.aligned-text_right {
    position: absolute;
    top: 276px;
    left: 606px;
    letter-spacing: 30px;
}

.cover_description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 52px;
    background: transparent;
    text-transform: uppercase;
    bottom: 28px;
}

.cover_description-text {
    color: white;
    font-size: 22px;
    word-spacing: 18px;
    padding-left: 30px;
    margin-left: -36px;
    margin-bottom: -3px;
}

.bet-button {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: 13px;
    margin-right: 5px;
    letter-spacing: 1px;
    padding: 9px 30px 14px 28px;
    line-height: 1.4;
}

.bet-button_second {
    margin-left: -8px;
    display: inline-block;
}

/* Блок ЛОТЫ */
.lots_heading {
    font-weight: 700;
    font-size: 40px;                      
    text-align: left;                     
    margin: 180px 915px 27px 64px;        
}

.lots_card-list{
    display: flex;
    gap: 25px;
    margin: 0 24px;
    margin-bottom: 30px;
    list-style: none;
    flex-wrap: wrap;
}

.lots_card-list-item {
    width: 334px;
    min-height: 596px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 334;
    min-height: 596px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    color: white;
    text-decoration: none;
}

.card-link {
    text-decoration: none;
}



.card_type_film {
    background: url('../images/card-lot-01.jpg') center/cover;
}

.card_type_book {
    background: url('../images/card-lot-02.jpg') center/cover;
}

.card_type_picture {
    background: url('../images/card-lot-03.jpg') center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card_title{
    z-index: 2;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin: 48px 40px 30px 40px;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}

.card_text{
    z-index: 2;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin: auto 40px 48px 40px;
    color: white;
    text-decoration: none;
}

.lots_look-more-link {
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    margin: 30px 844px 120px 64px;
}

/* Блок ABOUT */
.about {
    width: 1052px;
    height: 595px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto;
    gap: 25px;
}

.about__logo {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 155px 0 0 69px;
    grid-column: 1;
    grid-row: 1;
    background-color: black;
    border-radius: 50%;
}

.about__logo-circle {
    width: 100%;
    height: 100%;
}

.about__logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 148px;
    height: 114px;
}

.about__title {
    grid-column: 2;
    grid-row: 1;
    margin: 254px 24px 100px 21px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    grid-column: 2;
    grid-row: 1;
    margin: 403px 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    width: 693px;
}

/* Блок FOOTER */
.footer {
    width: 1100px;
    height: 400px;
    position: relative;
    margin-bottom: 82px;
}

.footer__social-list {
    position: absolute;
    top: 300px;
    right: 55px;
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__menu {
    position: absolute;
    top: 166px;
    left: 545px;
    transform: translateX(-50%);
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

.footer__menu-list-item {
    display: block;
    margin-bottom: 1px;
    text-align: center;
    line-height: 1.2;
}

.footer__menu-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 1.2;
    display: block;
}

.location {
    position: absolute;
    top: 205px;
    left: -119px;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
}

.footer__menu-list-item:nth-child(2) .footer__menu-link,
.footer__menu-list-item:nth-child(3) .footer__menu-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.footer__menu-list-item:first-child .footer__menu-link {
    text-decoration: none;
}
