header {
  width: 1100px;
  margin: 0 auto 96px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  gap: 20px;
}

.logo {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
}

.logo__image {
  width: 148px;
  height: auto;
}

nav {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 141px;
  margin-left: 14px;
}

.menu__list {
  display: flex;
  gap: 30px;
  list-style: circle;
  padding: 0;
}

.menu__item:first-child {
  list-style: none;
}

.menu__link {
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.menu__link_active {
  text-decoration: none;
}

address {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  gap: 4px;
  margin-top: 102px;
  margin-right: 47px;
  justify-self: end;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* блок COVER */
.cover {
  width: 1100px;
  margin: 0 auto;
  background: url('../images/cover.jpg') center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 168px;
  z-index: 2;
}

.cover__title-line_left {
  margin-left: 51px;
  letter-spacing: 30px;
}

.cover__title-line_center {
  margin-left: 379px;
  letter-spacing: 30px;
}

.cover__title-line_right {
  margin-left: 663px;
  letter-spacing: 30px;
}

.cover__description {
  padding: 50px 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cover__text {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  padding: 13px 31px;
  text-transform: uppercase;
  cursor: pointer;
}

/* блок LOTS */
.lots__heading {
    font-weight: 700;
    font-size: 40px;
    margin: 180px 0 27px 62px;
    text-transform: uppercase;
}

.lots__list {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0 24px;
    margin: 0 0 30px;
    flex-wrap: wrap;
}

.lots__item {
    width: 334px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 596px;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 49px 41px 50px 38px;
}

.card__background {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.card-link {
    text-decoration: none !important;
}

.card__background_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card__background_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card__background_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    z-index: 2;
    position: relative;
    margin: 0;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    z-index: 2;
    position: relative;
    margin: 0;
}

.lots__look-more {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 0 0 63px;
    display: inline-block;
    padding-bottom: 2px;
}

/* Блок  ABOUT */
.about {
    width: 1052px;
    margin: 0 auto 180px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
    min-height: 595px;
}

.about__logo {
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin: 154px 0 0 46px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    grid-column: 2;
    grid-row: 1;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin: 253px 24px 0 0;
}

.about__text {
    grid-column: 2;
    grid-row: 2;
    max-width: 690px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    margin: 75px 0 0;
}

.about__text_paragraph {
    margin-top: 25px;
}

/* Блок FOOTER */
.footer {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 50px;
    padding: 0px 50px 90px;
    margin-bottom: 82px;
}

.footer .location {
    grid-column: 1;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.footer .location a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__nav {
  text-align: center;
}

.footer__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__nav-link {
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.footer__nav-link_active {
  text-decoration: none;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}